alias ll="ls -lah"
alias la="ls -A"
alias l="ls -CF"
alias gs="git status"
alias ga="git add"
alias gc="git commit"
alias gp="git push"
alias gl="git log"
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias grep="grep --color=auto"
alias df="df -h"
alias du="du -h"
alias mkdir="mkdir -p"
alias cp="cp -i"
alias mv="mv -i"
alias rm="rm -i"
alias cls="clear"
alias h="history"
alias update="sudo apt-get update && sudo apt-get upgrade ; cleanup"
alias path='echo -e ${PATH//:/\\n}'
alias rst="git fetch origin && git reset --hard origin/main"
alias aliases="cat ~/.aliases"
alias reload='source ~/.zshrc'
alias zshconfig='code $HOME/.zshrc'
alias cleanup="sudo apt-get autoremove && sudo apt-get autoclean && sudo apt-get clean"
alias zshconfig="code ~/.zshrc"
alias ohmyzsh="code ~/.oh-my-zsh"
alias cat="bat --style=plain --paging=never"
