# Create a new directory and enter it
function md() {
  mkdir -p "$@" && cd "$@"
}

# find shorthand
function f() {
    find . -name "$1" 2>&1 | grep -v 'Permission denied'
}

# cd into whatever is the forefront Finder window.
cdf() {  # short for cdfinder
  cd "`osascript -e 'tell app "Finder" to POSIX path of (insertion location as alias)'`"
}

push() {
  # Get the current branch name
  local branch_name=$(git symbolic-ref --short HEAD)

  git pull origin $branch_name
  git push origin -u $branch_name
}

pull() {
  # Get the current branch name
  local branch_name=$(git symbolic-ref --short HEAD)

  git pull origin $branch_name
  yarn
}
